<div class="news-container">
  <app-search-bar (submitted)="onTerm($event)"></app-search-bar>
  <div class="go-back-box">
    <a [routerLink]="['/']" (click)="onBackClick()" class="go-back"
      >&larr; Go back
    </a>
  </div>
  <div class="sort-box">
    <div class="sort-by-heading">Sort by:</div>
    <div class="sort-by-section">
      <div class="form-radio-group">
        <input
          type="radio"
          class="form-radio-input"
          id="popularity"
          name="size"
          value="popularity"
          [(ngModel)]="sort"
          (input)="onSortChange($event.target.value, term)"
          (click)="onSortClick()"
        />
        <label for="popularity" class="form-radio-label">
          <span class="form-radio-button"></span>Popularity
        </label>
      </div>
      <div class="form-radio-group">
        <input
          type="radio"
          class="form-radio-input"
          id="relevance"
          name="size"
          value="relevance"
          [(ngModel)]="sort"
          (input)="onSortChange($event.target.value, term)"
          (click)="onSortClick()"
        />
        <label for="relevance" class="form-radio-label">
          <span class="form-radio-button"></span>Relevance
        </label>
      </div>
      <div class="form-radio-group">
        <input
          type="radio"
          class="form-radio-input"
          id="date"
          name="size"
          value="publishedAt"
          [(ngModel)]="sort"
          (input)="onSortChange($event.target.value, term)"
          (click)="onSortClick()"
        />
        <label for="date" class="form-radio-label">
          <span class="form-radio-button"></span>Published date
        </label>
      </div>
    </div>
  </div>
  <app-landing-page [landingNews]="news" [term]="term" [sort]="sort"></app-landing-page>
</div>
<router-outlet></router-outlet>
